package {{packageName}}

import (
	"context"
	"fmt"
	"net/http"
	"os"
	"runtime/debug"
	"testing"

	"github.com/Azure/azure-sdk-for-go/sdk/armcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azidentity"
	"golang.org/x/net/http2"
)
{{imports}}

const (
	mockHost = "https://localhost:8443"
)

var (
	ctx            context.Context
	subscriptionId string
	cred           *azidentity.EnvironmentCredential
	err            error
	con            *armcore.Connection
)

{% for scenario in scenarios %}
func Test{{scenario.name}}(t *testing.T) {
{% for example in scenario.examples %}
    // From example {{example.name}}
	{%- if loop.first %}
	defer func() {
		if r := recover(); r != nil {
			t.Fatal("stacktrace from panic: \n" + string(debug.Stack()))
		}
	}()
	client := New{{example.operationGroup.language.go.name}}Client({{example.clientParametersOutput}})
	{%- endif %}
	{%- if example.returnInfo.length == 2 %}
	{%- if example.isLRO %}
	poller, err {% if loop.first %}:{% endif %}= client.{{example.opName}}({{example.methodParametersOutput}})
	{%- else %}
	_, err {% if loop.first %}:{% endif %}= client.{{example.opName}}({{example.methodParametersOutput}})
	{%- endif %}
	if err != nil {
		t.Fatal(err)
	}
	{%- if example.isLRO %}
	_, err = poller.PollUntilDone(ctx, 30*time.Second)
	if err != nil {
		t.Fatal(err)
	}
	{%- endif %}
	{%- else %}
	client.{{example.opName}}({{example.methodParametersOutput}})
	{%- endif %}
{% endfor %}
{%- if scenario.examples|length <=0 %}
	t.Skip("Warning: No test steps for this operation!")
{%- endif %}
}
{% endfor %}

// TestMain will exec each test
func TestMain(m *testing.M) {
	setUp()
	retCode := m.Run() // exec test and this returns an exit code to pass to os
	tearDown()
	os.Exit(retCode)
}

func setUp() {
	ctx = context.Background()
	subscriptionId = os.Getenv("SUBSCRIPTION_ID")

	tr := &http.Transport{}
	if err := http2.ConfigureTransport(tr); err != nil {
		fmt.Printf("Failed to configure http2 transport: %v", err)
	}
	tr.TLSClientConfig.InsecureSkipVerify = true
	client := &http.Client{Transport: tr}
	cred, err = azidentity.NewEnvironmentCredential(&azidentity.EnvironmentCredentialOptions{AuthorityHost: mockHost, HTTPClient: client})
	if err != nil {
		panic(err)
	}

	con = armcore.NewConnection(mockHost, cred, &armcore.ConnectionOptions{
		Logging: azcore.LogOptions{
			IncludeBody: true,
		},
		HTTPClient: client,
	})
}

func tearDown() {

}
